.naslov_i_tekst_cijene{
    width: 100%;
    height: calc(100vh - 9.6vh);

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    font-family: montserrat;
}

.naslov_cijene{
    width: 50%;
    font-size: 2em;
    color: white;
    text-align: center;
    margin-bottom: 2.5%;
}

.tekst_cijene{
    margin-top: 2%;
    width: 50%;
    font-size: 0.7em;
    color: white;
    text-align: center;
}

.transparent_black_background{
    opacity: 80%;
}




@media (max-width: 1024px){
    .naslov_cijene{
        font-size: 4em;
        margin-bottom: 10%;
    }

    .tekst_cijene{
        font-size: 1.5em;
        width: 80%;
    }
}

@media (max-width: 540px){
    .naslov_cijene{
        font-size: 2.5em;
        margin-bottom: 10%;
    }

    .tekst_cijene{
        font-size: 0.9em;
        width: 80%;
    }
}

@media (max-width: 480px){
    .naslov_cijene{
        margin-bottom: 20%;
    }
}

@media (max-width: 414px){
    .naslov_cijene{
        font-size: 2.5em;
        margin-bottom: 10%;
    }

    .tekst_cijene{
        font-size: 0.8em;
        width: 80%;
    }
}

@media (max-width: 393px){
    .naslov_cijene{
        font-size: 2.5em;
        margin-bottom: 10%;
    }

    .tekst_cijene{
        font-size: 0.8em;
        width: 80%;
    }
}

@media (max-width: 375px){
    .naslov_cijene{
        font-size: 2em;
        margin-bottom: 10%;
    }

    .tekst_cijene{
        font-size: 0.8em;
        width: 80%;
    }
}

@media (max-width: 320px){
    .naslov_cijene{
        font-size: 1.5em;
        margin-bottom: 10%;
    }

    .tekst_cijene{
        font-size: 0.7em;
        width: 80%;
    }
}

@media (max-width: 280px){
    .naslov_cijene{
        font-size: 1.5em;
        margin-bottom: 10%;
    }

    .tekst_cijene{
        font-size: 0.6em;
        width: 80%;
    }
}