.poruka{
    width: 100%;
    height: calc(100vh - 9.6vh);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.uspjesno_poslano{
    color: white;
    font-size: 1em;
    width: 25%;
    text-align: center;
    background-color: black;
    opacity: 75%;
    border-radius: 20px;
    padding: 5px;
    font-family: montserrat;
}

.transparent_black_background{
    opacity: 50%;
}

@media (max-width: 480px){
    .uspjesno_poslano{
        font-size: 1em;
        width: 80%;
    }
}



