.naslov_i_tekst{
    color: white;
    height: calc(100vh - 9.6vh);
    text-align: center;
    font-family: montserrat;
}

.naslov_otvoreni_natjecaji{
    width: 100%;
    height: 40%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2em;
}

.tekst_otvoreni_natjecaji{
    width: 100%;
    height: 60%;
    font-size: 1em;
}

.tekst_otvoreni_natjecaji a {
    color: #00F0FF;
}

.transparent_black_background{
    opacity: 60%;
}

@media (max-width: 480px){
    .tekst_otvoreni_natjecaji{
        padding-left: 1%;
        padding-right: 1%;
    }
}

@media (max-width: 280px){
    .tekst_otvoreni_natjecaji{
        padding-left: 2%;
        padding-right: 2%;
    }
}