.StoRadimo_naslov{
    color: white;
    text-align: center;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-family: montserrat;
}

.naslov_i_tekst{
    height: calc(100vh - 9.6vh);
}

.tekst{
    height: 65%;

    display: flex;
    justify-content: center;

    color: white;
    font-family: montserrat;
    font-size: 1em;
}

.prvi_pravokutnik{
    height: 125px;
    width: 225px;
    border-radius: 20px;
    margin: 5px;
  
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    opacity: 75%;
}

.drugi_pravokutnik{
    height: 125px;
    width: 225px;
    border-radius: 20px;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    background-color: black;
    opacity: 75%;
}

.treci_pravokutnik{
    height: 125px;
    width: 225px;
    border-radius: 20px;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    opacity: 75%;
    text-align: center;
}

.cetvrti_pravokutnik{
    height: 125px;
    width: 225px;
    border-radius: 20px;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    opacity: 75%;
}

.transparent_black_background{
    opacity: 60%;
}




@media (max-width: 480px){
    .tekst{
        display: block;
        justify-content: center;
    }

    .prva_dva_pravokutnika{
        display: flex;
        justify-content: center;
    }

    .druga_dva_pravokutnika{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 353px){
    .tekst{
        font-size: 0.8em;
    }
}

@media (max-width: 280px){
    .tekst{
        font-size: 0.6em;
    }
}