body{
    background-color: #15211D;
    color: white;
}

.sve{
    /* border: solid 1px rgb(208, 255, 0); */
    display: flex;
    flex-direction: column;
}

.glavni_naslov{
    /* border: solid 1px rgb(0, 253, 241); */
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.usluge{
    /* border: solid 1px rgb(255, 0, 221); */
    text-align: center;
    width: 42%;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
}

.pravokutnik{
    
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #10151B;
    border-radius: 0.5em;
    width: 28em;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;

}

.transparent_black_background{
    opacity: 60%;
}

@media (max-width: 1024px){
    .glavni_naslov{
        margin-top: 10%;
        margin-bottom: 10%;
    }   
}

@media (max-width: 480px){
    .pravokutnik{
        margin-top: 1%;
        margin-bottom: 1%;
       
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .usluge{
        width: 100%;
    }
}

@media (max-width: 414px){
    .pravokutnik{
        width: 24em;
    }
}

@media (max-width: 393px){
    .pravokutnik{
        width: 22em;
    }
}

@media (max-width: 360px){
    .pravokutnik{
        width: 18em;
    }
}

@media (max-width: 320px){
    .pravokutnik{
        width: 18em;
    }

    .usluge{
        margin-top: 3%;
    }
}

@media (max-width: 360px){
    .pravokutnik{
        width: 16em;
    }
}